h1, h2, h3
{
	text-align: center;
}

.masthead
{
	background-image: url(../img/metal-hr.jpg?v=2);
	background-repeat: repeat;
	background-size: auto;
	width: 100%;
	padding-top: 10em;
	padding-bottom: 10em;
	text-align: left;
}

.buffer
{
	background-color: #008cba;
	height: 1em;
}

.caption 
{
	text-align: center;
}

.main-header
{
	font-size: 4em;
	font-family: Helvetica;
	color: #333333;
}

.main-header-sub
{
	font-size: 3em;
	font-family: Helvetica;
	color: #333333;
}

.bottom-bar
{
	background-color: #333333;
	text-align: left;
	overflow: auto;
}

.bottom-bar h4
{
	display: inline;
	float: right;
	line-height: 1.5em;
}

.bottom-bar img
{
	float: left;
}

.therefore
{
	-webkit-filter: invert(100%);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	height: 2em;
	display: inline;
}

/*.sidebar
{
	border-radius: 1em;
	background-color: #e1e1e1;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
}*/

.sponsors
{
	text-align: center;
}

#mate-logo
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-height: 30em;
	width: auto;
}